title Chat Online
link(rel='stylesheet', href='/stylesheets/style.css')
script(src='https://code.jquery.com/jquery-2.2.0.min.js')
script(src='https://cdn.socket.io/socket.io-1.4.5.js')
script(src='javascripts/chat.js')
#wrapper
  #chatbox
    .box_title
      h3 Chat Online
    .chat_content
      ul#chat_content
        li
          span.name Luan
          | :
          span.message Hello!
        li
          span.name Luan
          | :
          span.message Hello!
        li
          span.name Luan
          | :
          span.message Hello!
        li
          span.name Luan
          | :
          span.message Hello!
        li
          span.name Luan
          | :
          span.message Hello!
        li
          span.name Luan
          | :
          span.message Bello
        li
          span.name Luan
          | :
          span.message Hello!
        li
          span.name Luan
          | :
          span.message Hello!
        li
          span.name Luan
          | :
          span.message Hello!
        li
          span.name Luan
          | :
          span.message Hello!
        li
          span.name Luan
          | :
          span.message Hello!
        li
          span.name Luan
          | :
          span.message Hello!
        li
          span.name Luan
          | :
          span.message Hello!
        li
          span.name Luan
          | :
          span.message Hello!
        li
          span.name Luan
          | :
          span.message Hello!
        li
          span.name Luan
          | :
          span.message Hello!
    .chat_input
      form(action="")
        input(type='text', name='input_chat', placeholder='Input message...')
        button(type='submit', name='submit') Send

